
body{
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-color: #e2e2e2;
    /* background-size:  cover; */
    /* margin-bottom: 60px; */
}

.player-card {
    background-color: white;
    border-radius: 4px;    
}

#quiz li:hover{
    background-color:rgb(55, 180, 230);
    cursor: pointer;
}
