
body{
    background-image: url("../images/bg.jpg");    
    background-position: top left;    
    background-color: #e2e2e2;
    background-size:  cover;    
}
.quiz:hover{
    background-color:rgb(55, 180, 230);
    cursor: pointer;
}

#left-game{
    margin-top: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}
